/* mobile responsive css */
#nav-bar .logo {
  float: none;
  text-align: center;
}

#nav-bar ul,
#nav-bar ul li {
  float: none;
}

#nav-bar ul li a {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}

#home-info {
  height: 550px;
}

.info-img {
  display: none;
}

.info-content {
  float: none;
  width: 100%;
}

.box {
  float: none;
  width: 100%;
}
#showcase {
  height: 100%;
}

.showcase-content {
  padding-top: 70px;
  padding-bottom: 30px;
}
/* about page */

#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

.l-heading {
  text-align: center;
}

.info-right img {
  margin-top: 30px;
}

/* contact page */

#contact-info .box {
  border-bottom: #444 dotted 1px;
}
